header {
    color: white;
    background-color: darkgrey;
    text-align: center;
   
    width: 100%;
    
    
}

  
body{
    background: cornflowerblue;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align:center;
    margin: 20px 0px 20px 0px;
}

.nav-box{
    width: 200px;
    background-color: lightseagreen;
    text-align: center;
   

}
.section{
    background: blue

}

.vertical-menu {
    width: 200px; /* set this as auto eventually */
    padding: 30px;
    border: black 2px solid;
    
    
  }

  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    margin: 5px;
    text-decoration: none; /* Remove underline from links */
    text-align: center;
    
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
  }

  .History-Box{
    background:white;
    width: 80%;
    border-radius:6px;
    margin: auto ;
    padding:10px 0px 70px 0px;
    border: lightblue 4px solid; 
    text-align: center;
    flex: 1
  }

.main{
    background:lightcoral;
    width:600px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: lightblue 4px solid; 

  }
.section{
    display: flex;

}