.header {
    color: white;
    background-color: dimgrey;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.Sidebar {
    height: 100% ; /*Full page height*/
    width: 120px;
    position: fixed; /*Stays in place when you scroll*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    padding-top: 75px;
    padding-bottom: 20px;
    color: white;
   
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}
#main {
    margin-left: 120px; /* Same as the width of the sidebar */
    padding: 200px 200px;
    position: fixed
}



