@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4">Welcome</h1>
    <section>

        <form method="post" action="index.html">
            <!--This Creates a text box with the title of "Login-Field"-->
            <div class="Login-Field">


                <h1>Login</h1>

                <input type="email" name="email" value="email"
                       onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');"
                       class="email" />

                <input type="password" name="email"
                       value="email" onFocus="field_focus(this, 'email');"
                       onblur="field_blur(this, 'email');" class="email" />

                <a href="#"><div class="btn-block btn-primary">Sign In</div></a><!--This is the sign in button, of type btn-->

                <a href="#"><div class="btn-danger">Sign up</div></a><!--This is the sign up button, of type btn2-->



            </div>
        </form>

    </section>
</div>
