@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--<div class="container ">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>
    <div class="card " style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>
</div>-->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    
                    <img src="~/Pictures/pancakes.jpg" asp-append-version="true" class="card-img-top-alt" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Breakfast</h5>
                        <p class="card-text">The Most Important Meal Of The Day!</p>
                        <a class="btn btn-primary" asp-controller="Random" asp-action="RandomBreakfast">RANDOMIZE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="~/Pictures/sandwhich.jpg" asp-append-version="true" class="card-img-top-alt" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lunch</h5>
                        <p class="card-text">A Random, Standard Lunch Meal</p>
                        <a href="#" class="btn btn-primary">RANDOMIZE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="~/Pictures/steak.jpg" asp-append-version="true" class="card-img-top-alt" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dinner</h5>
                        <p class="card-text">Hearty and Delicious</p>
                        <a href="#" class="btn btn-primary">RANDOMIZE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>