

@{
    ViewData["Title"] = "Breakfast Meals";
}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">

                @*<img src="~/Pictures/pancakes.jpg" asp-append-version="true" class="card-img-top-alt" alt="...">*@
                <div class="card-body">
                    <h5 class="card-title">Breakfast Choice 1</h5>
                    <p class="card-text">Placeholder for Meal Name</p>
                    <a class="btn btn-primary" asp-controller="Random" asp-action="RandomBreakfast">Recipe</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                @*<img src="~/Pictures/sandwhich.jpg" asp-append-version="true" class="card-img-top-alt" alt="...">*@
                <div class="card-body">
                    <h5 class="card-title">Breakfast Choice 2</h5>
                    <p class="card-text">Placeholder for Meal Name</p>
                    <a class="btn btn-primary" asp-controller="Random" asp-action="Lunch">Recipe</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                @*<img src="~/Pictures/steak.jpg" asp-append-version="true" class="card-img-top-alt" alt="...">*@
                <div class="card-body">
                    <h5 class="card-title">Breakfast Choice 3</h5>
                    <p class="card-text">Placeholder for Meal Name</p>
                    <a class="btn btn-primary" asp-controller="Random" asp-action="Dinner">Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>